
<img src="assets\logo.png" alt="Logo" class="logo">
<h2 class="pagetitle">Login Page</h2>
<form [formGroup]="loginRef" (ngSubmit)="signIn()">
    <br>
<div class="centered-container">

    <div class="row">
        <div class="col-2">
            <label>Email</label>
        </div>
        <div class="col-2">
            <input type="email" class="form-control" formControlName="emailid"/>
        </div>
    </div>
    <br>
    <div class="row">
        <div class="col-2">
            <label>Password</label>
        </div>
        <div class="col-2">
            <input type="password" class="form-control" formControlName="password"/>
        </div>
    </div>
    <br>
    <div class="row">
        <div class="col-2">
            <label>Type of User</label>
        </div>
        <div class="col-2">
            <input type="radio" name="typeofuser" value="admin" formControlName="typeofuser"/>Admin
            <input type="radio" name="typeofuser" value="customer" formControlName="typeofuser"/>Customer
        </div>
        </div>
        <br>
        <div>
            <input type="submit" value="Sign In" class="btn btn-success center-button" />
            
        </div>
        <br>
        <div>  
        </div>
     
        <a routerLink="/SignUp" class="rlink">Sign Up</a>
    
    </div>
   
    <span style="color:red">{{msg}}</span>
</form>