
<!-- <h2 style="color: white">Please Select a Payment Option</h2>
<br>
<br>
<div id="myPayPalButtons"></div>
<br>
<br>
<a routerLink="/viewcart" style="color:white">Back to Cart</a> -->
<h1 class="pagetitle"> Thank you for your order request!</h1>
<br>
<h3> The doctor will review your request, contact you with any questions, and notify you of denial or approval via your preferred contact method.</h3>
<br>
<div class="notice">
<p>Upon approval you will be emailed an invoice which you can easily pay by clicking on the link in your email.</p>
<p>You do not need to have a PayPal account in order to pay, just scroll to the bottom of the login screen to enter your credit card information.</p>
<p>Once paid, the medication will be shipped to the address you have provided.</p>

<P>Thank you for choosing Ehealthcare!</P>
</div>
<br>
<a routerLink="../customerhome/viewMedicine" class="white-link">Return to View Medicine</a><br>
<br>
<a routerLink="../customerhome" class="white-link">Return Home</a>

