<h1>Please Fill Out The Following Information</h1>
<br>
<h3 style="color: white">Your medication request will be reviewed upon submission by the doctor and you will be contacted if more information is required</h3>
<br>
 <form (ngSubmit)="submitOrderForm(); deleteItemFromCart()" >
    <div>
        <label class="medname" for="medicineName">Medication Name:</label>
        <input type="text" id="medicineName" name="medicineName" [value]="medicineName" class="form-control" readonly>
      </div>
      <div class="form-group">
        <label for="quantity">Quantity:</label>
        <input type="text" id="quantity" name="quantity" [value]="quantity" class="form-control" readonly>
      </div>
      
      <div class="form-group">
        <label for="price">Price:</label>
        <input type="text" id="price" name="price" [value]="'USD $' + price +' each'" class="form-control" readonly>
      </div>
      <div class="form-group">
        <label for="fullName">Full Name:</label>
        <input type="text" id="fullName" name="fullName" [(ngModel)]="fullName" class="form-control" required>
      </div>
    <div class="form-group">
      <label for="phoneNumber">Phone Number:</label>
      <input type="text" id="phoneNumber" name="phoneNumber" [(ngModel)]="phoneNumber" class="form-control" required>
    </div>
  
    <div class="form-group">
      <label for="address">Address:</label>
      <input type="text" id="address" name="address" [(ngModel)]="address" class="form-control" required>
    </div>
  
    <div class="form-group">
        <label for="contactMethod">Preferred Contact Method:</label>
        <select id="contactMethod" name="contactMethod" [(ngModel)]="contactMethod" class="form-control">
          <option>Phone</option>
          <option [value]="userEmail">Email</option>
        </select>
      </div>
      
      <div *ngIf="contactMethod === userEmail" class="form-group">
        <label for="userEmail">Email:</label>
        <input type="text" id="userEmail" name="userEmail" [(ngModel)]="userEmail" class="form-control">
      </div>
     
    <div class="form-group">
      <label for="additionalComments">Additional Comments:</label>
      <textarea id="additionalComments" name="additionalComments" [(ngModel)]="additionalComments" class="form-control"></textarea>
    </div>

  
    <button type="submit" class="btn btn-primary">Submit Order</button> 
    <br>
    <a routerLink="/viewcart" style="color:white">Back to Cart</a>
    <br>
  </form> 

  