<h1>Your Cart</h1>
<h3> medication requests may only be submitted for review one at a time.</h3>
<div *ngIf="cartItems.length === 0">
    <p>Your cart is empty.</p>
</div>

<div *ngIf="cartItems.length > 0">
    <div *ngFor="let item of cartItems" class="cart-item">
        <div class="cart-item-details">
            <img [src]="item.medrequest.imageurl" alt="{{ item.medrequest.mname }}" />
            <div>
              <h2>{{ item.medrequest.mname }}</h2>
              <p>Price: ${{ item.medrequest.price }}</p>
              <p>Description: {{ item.medrequest.description }}</p>
            </div>
        </div>
        <div class="cart-item-actions">
          <input type="number" [(ngModel)]="item.quantity" (change)="updateQuantity(item)">
            <button (click)="incrementQuantity(item)">+</button>
            <button (click)="decrementQuantity(item)">-</button>
            <button (click)="deleteItemFromCart(item)">Delete Order</button>
        </div>
    </div>
</div>

<a routerLink="/customerhome/viewMedicine" Style="color:white">Back to View Medicine</a>
<br>
<br>
<button [routerLink]="['/order-form']">Send Request To Doctor</button>

