
   <Form>
    <label for="searchKey">Search for Medications</label>
    <input #searchkeyword (keyup)="searchByKeyword(searchkeyword.value)" name="searchKey" id="searchKey" placeholder="name or description" class="w-50" />
   </Form>
   <div>
    <a routerLink="/viewcart" style="color:white">View Cart</a>
  </div>
  
   <h2>Medication Details</h2>
<div>
    <div class="medication-grid">
    <span *ngFor="let mm of medicine">
        <div class="medication-card">
        <img src={{mm.imageurl}} width="200px" height="200px"/>
        <div class="medication-info">
        <div>Name :{{mm.mname}}<br> Price :{{"$"+mm.price}} <br> Bottle Quantity :{{mm.qty}} <br> Description :{{mm.description}} <br>
            
            <div>
                <input type="number" [(ngModel)]="selectedQuantities[mm.mid]" min="1"><br>
                <button (click)="addToCart(mm)">Add to Cart</button>
              </div>
        </div>
       </div>
       </div>
    </span>
</div>

