<img src="assets\logo.png" alt="Logo" class="logo">
<br>
<h2 class="pagetitle">Please Sign Up</h2>
<br>
<form [formGroup]="loginRef" (ngSubmit)="signUp()">
    <br>
<div class="centered-container">

    <div class="row">
        <div class="col-2">
            <label>Email</label>
        </div>
        <div class="col-2">
            <input type="email" class="form-control" formControlName="emailid"/>
        </div>
    </div>
    <br>
    <div class="row">
        <div class="col-2">
            <label>Password</label>
        </div>
        <div class="col-2">
            <input type="password" class="form-control" formControlName="password"/>
        </div>
    </div>
    <br>
    <div class="row">
        <div class="col-2">
            <label>Type of User</label>
        </div>
        <div class="col-2">
            <input type="radio" name="typeofuser" value="admin" formControlName="typeofuser"/>Admin
            <input type="radio" name="typeofuser" value="customer" formControlName="typeofuser"/>Customer
        </div>
        </div>
        <div class="row">
            <div class="col-2">
                
                
            </div>
            <br>
            <div class="col-2">
                <input type="submit" value="Sign Up" class="btn btn-success center-button"/> 
                <input type="reset" value="reset" class="btn btn-info center-button"/>
            </div>
        </div>
        
    <a routerLink="/login" class="rlink">Login</a>
    </div>
    <span style="color:red">{{msg}}</span>
</form>
